header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: $light_background;
    height: 80px;
    padding: 20px 0;
    border-bottom: $border_brown;

    nav {
        width: $container_width;
        margin: 0 auto;
        line-height: 35px;
    }

    li {
        display: inline-block;
    }

    a {
        color: $text_color;
        font-weight: bold;
    }

    a:hover {
        color: #30488f;
    }
}

.main-menu {
    display: inline-block;

    li {
        margin-right: 20px;
    }
}

.links-menu {
    display: inline-block;
    float: right;
}

#sign-up-btn {
    padding: 0 20px;
    line-height: 35px;
    border: 1px solid #30488f;
    background: #fff;
    color: #30488f;
    border-radius: $bor_rad_standard;

    &:hover {
        background-color: #30488f;
        color: white;
    }

}

#dropped-link {
    padding: 10px;

}

#dropped-link:hover + .sub-menu {
    //da correggere
    display: none;
}

.sub-menu {
    display: none;
    flex-direction: column;
    padding: 10px;
    border: $border_brown;
    border-radius: $bor_rad_standard;
    background-color: white;

    li {
        margin-bottom: 7px;
    }
}
