* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #58402c;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.primary-btn {
  padding: 0 20px;
  line-height: 35px;
  background-color: #30488f;
  color: white;
  border-radius: 7px;
  border: none;
}

header {
  max-width: 1150px;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid #58402c;
}

header li {
  display: inline-block;
}

header a {
  color: #58402c;
  font-weight: bold;
}

header a:hover {
  color: #30488f;
}

.main-menu {
  display: inline-block;
}

.main-menu li {
  margin-right: 20px;
}

.links-menu {
  display: inline-block;
  float: right;
}

#sign-up-btn {
  padding: 0 20px;
  line-height: 35px;
  border: 1px solid #30488f;
  background: #fff;
  color: #30488f;
  border-radius: 7px;
}

#sign-up-btn:hover {
  background-color: #30488f;
  color: white;
}

.jumbo {
  width: 1150px;
  margin: 100px auto;
}

.jumbo div {
  width: 50%;
  float: left;
}

.jumbo-text h1 {
  font-size: 50px;
  margin-bottom: 30px;
  line-height: 70px;
}

.jumbo-text p {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 33px;
}

.jumbo-text span {
  display: inline-block;
  width: 35px;
  text-align: center;
}

.jumbo-text .jumbo-link {
  margin-top: 30px;
  display: block;
  color: #58402c;
}

.jumbo-picture img {
  width: 100%;
}

