* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $text_color;
    font-family: $font_text;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.primary-btn {
    padding: 0 20px;
    line-height: 35px;
    background-color: rgb(48, 72, 143);
    color: white;
    border-radius: 7px;
    border: none;
}
